Flask~=3.1.1
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Bcrypt
python-docx
python-dotenv
openpyxl~=3.1.5
WTForms~=3.2.1
Werkzeug~=3.1.3
pip~=23.2.1
wheel~=0.41.2
lxml~=6.0.0
Jinja2~=3.1.6
typing_extensions~=4.14.0
MarkupSafe~=3.0.2
click~=8.2.1
blinker~=1.9.0
itsdangerous~=2.2.0
greenlet~=3.2.3
et_xmlfile~=2.0.0
numpy~=2.2.6
setuptools~=68.2.0
SQLAlchemy~=2.0.41
bcrypt~=4.3.0